<app-navigation></app-navigation>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Embedded Firmware Engineer</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Job Id:407</h6>
                          <p class="card-text">Exp:5 to 6 years</p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Software test Engineer</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Job Id:408</h6>
                          <p class="card-text">Exp:3 to 6 years</p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Firmware Engineer</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Job Id:409</h6>
                          <p class="card-text">Exp:7+ years</p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title"> Senior Software System Engineer</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Job Id:409</h6>
                          <p class="card-text">Exp:8+ years</p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Senior Automation Engineer</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Job Id:409</h6>
                          <p class="card-text">Exp:5+ years</p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Manual Tester</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Job Id:406</h6>
                          <p class="card-text">5+ years</p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Software Architect</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Job Id:373</h6>
                          <p class="card-text">Exp:3 to 8 years</p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Senior Embedded Engineer</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Job Id:272</h6>
                          <p class="card-text">Exp:2 to 10 years</p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Software Engineer</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Job Id:434</h6>
                          <p class="card-text">Exp:12+ years</p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Project Manager</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Job Id:403</h6>
                          <p class="card-text">Exp:3 to 6 years</p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width:20rem;">
                        <div class="card-body">
                          <h5 class="card-title">Software test Engineer</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Job Id:398</h6>
                          <p class="card-text">Exp:3 to 6 years</p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Executive Lead Generation</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Job Id:402</h6>
                          <p class="card-text">Exp:4+ years</p>
                        </div>
                      </div>
                </div>
            
            </div>
        </div>
    </div>
</div>
