<app-navigation></app-navigation>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" style="background-color:lightblue">
               <figure class="text-center">
                <h1 style="color:navy ;">HARNESSING WORLD-CLASS TECHNOLOGY</h1>
                <br>
                <h1 style="color:navy ;">CREATING BOUNDLESS IMPACT</h1>
               </figure>
               <br>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" style="background-color:lightgoldenrodyellow">
                    <figure class="text-center">
                    <h4>WHO ARE OUR CUSTOMERS</h4>
                    <br>
                    <h5>We work with the best</h5>
                    <br>
                    <p>Delivering top-notch industry specific solutions to<br>
                         customers ranging from small and medium to Fortune<br> 500 enterprises.
                         <br>We primarily focus on:
                         Transportation, Healthcare, Power & Industrial, BFSI <br>
                         and Aerospace.
                    </p>
                     <br>
                    <h1>HOW WE WORK</h1>
                    <br>
                    <h6>Based On Nest Principle</h6>
                    <br>
                    <p>Our principles serve as the foundation of our organization and have moulded us into who we are today. We are powered by continuous innovation, strategic thinking and collaboration to deliver shared outcomes for better results and growth.

                        We adhere to the highest standards of work to deliver exceptional outcomes. Our commitment with our customers, partners and employees is built on trust and integrity.
                        
                        We go above and beyond to serve our customers, delve deep into challenges and work hard to make their lives easier. We believe the best way to be productive is through teamwork and effective communication.
                        
                        We anticipate change, embrace agility which helps us achieve business goals efficiently. We deal with ambiguity, seek diverse views and use proper judgment to make effective decisions.</p>
                </figure>
                </div>
            </div>
        </div>
    </div>
</div>

