<app-navigation></app-navigation>


<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" >
            <figure class="text-center">
            <h1 style="color:navy ;">WELCOME TO NEST DIGITAL</h1>
        </figure>
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <figure class="text-center">
                    <h6 style="color:navy ;">ENGINEERING TRANSFORMATION</h6>
                    <a routerLink="/employeelogin">Employee portal</a>
                </figure>
                </div>
            </div>
        </div>
    </div>
</div>

