<app-navigation></app-navigation>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" >
            <h1 style="color:navy ;" text-centre>WELCOME TO NEST DIGITAL</h1>
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <a routerLink="/employeelogin">Employee portal</a>
                </div>
            </div>
        </div>
    </div>
</div>
